<% if @game.player1_turn%>
  <h1>You have attacked <%=@game.player2.name%></h1>
  <h2>Now, it's <%=@game.player2.name%>'s turn</h2>
  <% @game.attack(@game.player2) %>
<% else %>
  <h1>You have attacked <%=@game.player1.name%></h1>
  <h2>Now, it's <%=@game.player1.name%>'s turn</h2>
  <% @game.attack(@game.player1) %>
<% end %>

<h1><%=@game.player2.name%> HP: <%=@game.player2.hp%></h1>
<h1><%=@game.player1.name%> HP: <%=@game.player1.hp%></h1>

<a href="/attack">Attack</a>
